<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Server Error</title>
  <link rel="stylesheet" href="/css/style.css?v=<%= assetsVersion %>">
</head>
<body>
  <div class="container" style="padding:40px;text-align:center;">
    <h1>Something went wrong</h1>
    <p><%= error %></p>
    <p><a href="/">Return to home</a></p>
  </div>
</body>
</html>
